@import '../variables';

.todolist-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid $light-grey;
  border-bottom: none;
  &.done {
    text-decoration: line-through;
  }

  &:last-child {
    border-bottom: 1px solid $light-grey;
  }
  &:hover {
    cursor: pointer;
  }

  &__label {
    font-size: 22px;
    color: #2c2c2c;
    padding: 15px 30px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }

  button {
    width: 50px;
    height: 42px;
    background: #ffffff;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
  }

  .delete-button {
    border: 1px solid #ab2323;
    &:hover {
      color: #ffffff;
      background: rgba(171, 35, 35, 0.2);
    }
  }

  .delete-icon {
    width: 30px;
    color: $light-grey;
  }

  .important-button {
    border: 1px solid #098F2A;
    &:hover {
      color: #ffffff;
      background: rgba(9, 143, 42, 0.2);
    }
  }
  &.important {
    color: #2c5656;
    font-weight: bold;
  }
}
